.title {
  display: flex;
  align-items: center;


  .mat-icon {
    margin-right: 5px;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.content {
  margin: 20px 0;

  .field {
    margin-bottom: 10px;

    .form-field {
      width: 100%;
    }
  }
}
