@import "../../../colors";

.title {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 5px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .value {
    display: inline-table;
    border-radius: 50%;
    background-color: $indigo-400;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 0.8em;
  }
}
