.title {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 5px;
  }
}

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.send-email {
  margin: 20px 0 30px 0;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
