.line {
  margin: 10px 0;

  &:first-child {
    margin: 0 0 10px 0;
  }

  .label {
    font-weight: 500;
    font-size: 1.2em;
  }

  .sub-label {
    font-size: 0.9em;
    font-style: italic;
  }

  .email-text {
    cursor: pointer;
  }
}

.email-edit-line {
  padding: 5px 0;
  display: flex;
  align-items: center;
  &:hover {
    background-color: lightgray;
  }

  .email-edit-button {
    margin-right: 10px;
  }
}
