.title {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 5px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element {
  border-bottom: 1px solid lightgray;
  padding: 5px 0;

  &:last-child {
    border-bottom: none;
  }
}

.label {
  font-weight: 500;
  margin-right: 5px;
}

.emails_line {
  .emails {
    max-height: 100px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    .email_value {
      padding: 3px;
      color: white;
      background-color: darkslategrey;
      font-size: 0.8em;
      border-radius: 4px;
      margin-left: 2px;
      margin-top: 2px;
    }
  }
}

.error_line {
  .error_value {
    max-height: 200px;
    overflow: scroll;
  }
}
