// Indigo Color Scheme
$indigo-50: #e8eaf6;
$indigo-100: #c5cae9;
$indigo-200: #9fa8da;
$indigo-300: #7986cb;
$indigo-400: #5c6bc0;
$indigo-500: #3f51b5;
$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #283593;
$indigo-900: #1a237e;
$indigo-a100: #8c9eff;
$indigo-a200: #536dfe;
$indigo-a400: #3d5afe;
$indigo-a700: #304ffe;
// Pink Color Scheme
$pink-50: #fce4ec;
$pink-100: #f8bbd0;
$pink-200: #f48fb1;
$pink-300: #f06292;
$pink-400: #ec407a;
$pink-500: #e91e63;
$pink-600: #d81b60;
$pink-700: #c2185b;
$pink-800: #ad1457;
$pink-900: #880e4f;
$pink-a100: #ff80ab;
$pink-a200: #ff4081;
$pink-a400: #f50057;
$pink-a700: #c51162;
// Teal Color Scheme
$teal-50: #e0f2f1;
$teal-100: #b2dfdb;
$teal-200: #80cbc4;
$teal-300: #4db6ac;
$teal-400: #26a69a;
$teal-500: #009688;
$teal-600: #00897b;
$teal-700: #00796b;
$teal-800: #00695c;
$teal-900: #004d40;
$teal-a100: #a7ffeb;
$teal-a200: #64ffda;
$teal-a400: #1de9b6;
$teal-a700: #00bfa5;
// Orange Color Scheme
$orange-50: #fff3e0;
$orange-100: #ffe0b2;
$orange-200: #ffcc80;
$orange-300: #ffb74d;
$orange-400: #ffa726;
$orange-500: #ff9800;
$orange-600: #fb8c00;
$orange-700: #f57c00;
$orange-800: #ef6c00;
$orange-900: #e65100;
$orange-a100: #ffd180;
$orange-a200: #ffab40;
$orange-a400: #ff9100;
$orange-a700: #ff6d00;
// Cyan Color Scheme
$cyan-50: #e0f7fa;
$cyan-100: #b2ebf2;
$cyan-200: #80deea;
$cyan-300: #4dd0e1;
$cyan-400: #26c6da;
$cyan-500: #00bcd4;
$cyan-600: #00acc1;
$cyan-700: #0097a7;
$cyan-800: #00838f;
$cyan-900: #006064;
$cyan-a100: #84ffff;
$cyan-a200: #18ffff;
$cyan-a400: #00e5ff;
$cyan-a500: #00b8d4;
// Blue Gray Color Scheme
$bluegray-50: #eceff1;
$bluegray-100: #cfd8dc;
$bluegray-200: #b0bec5;
$bluegray-300: #90a4ae;
$bluegray-400: #78909c;
$bluegray-500: #607d8b;
$bluegray-600: #546e7a;
$bluegray-700: #455a64;
$bluegray-800: #37474f;
$bluegray-900: #263238;
//Amber ColorScheme
$amber-50: #FFF8E1;
$amber-100: #FFECB3;
$amber-200: #FFE082;
$amber-300: #FFD54F;
$amber-400: #FFCA28;
$amber-500: #FFC107;
$amber-600: #ffb300;
$amber-700: #FFA000;
$amber-800: #FF8F00;
$amber-900: #FF6F00;
$amber-a100: #FFE57F;
$amber-a200: #FFD740;
$amber-a400: #FFC400;
$amber-a700: #FFAB00;
// Deep Purple Color Scheme
$deeppurple-50: #EDE7F6;
$deeppurple-100: #D1C4E9;
$deeppurple-200: #B39DDB;
$deeppurple-300: #9575CD;
$deeppurple-400: #7E57C2;
$deeppurple-500: #673AB7;
$deeppurple-600: #5E35B1;
$deeppurple-700: #512DA8;
$deeppurple-800: #4527A0;
$deeppurple-900: #311B92;
$deeppurple-a100: #B388FF;
$deeppurple-a200: #7C4DFF;
$deeppurple-a400: #651FFF;
$deeppurple-a700: #6200EA;

$gold-color: rgb(214, 182, 0);
$silver-color: rgb(156, 156, 156);
$bronze-color: #CD7F32;
$dimmed-color: #ADADAD;
$dimmed-color2: rgb(133, 133, 133);

$spinner-color: $indigo-900;
$spinner-color-light: #fff;

$slide-in-bg: $bluegray-800;
$slide-in-text: #fff;
$slide-in-option-outer-circle: #fff;
$overlay-bg: #000;
