<div role="list">
  <div
    class="line" role="listitem"
  >
    <div class="line-buttons">
      <button
        mat-icon-button
        matTooltip="Rediger"
        class="team-edit"
        (click)="editMessage('da')"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="fields">
      <div class="field">
        <div>Dansk besked</div>
      </div>
    </div>
  </div>
  <div
    class="line" role="listitem"
  >
    <div class="line-buttons">
      <button
        mat-icon-button
        matTooltip="Rediger"
        class="team-edit"
        (click)="editMessage('en')"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="fields">
      <div class="field">
        <div>Engelsk besked</div>
      </div>
    </div>
  </div>
</div>
