.email-temaplate-add {
  margin: 10px 0;
}

.title-line {
  margin: 10px 0;

  .label {
    font-weight: 500;
    font-size: 1.2em;
  }

  .sub-title {
    font-size: 1em;
    margin-left: 10px;
    font-weight: 500;
  }

  .sub-label {
    font-size: 0.9em;
    font-style: italic;
  }
}
